Repository Kirrrusha/digest_tracker: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: pnpm web:type-check
  stage_fixed: true

lint:
  run: pnpm web:lint:fix
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

style: fix import ordering from prettier
  .env
  apps/web/app/api/auth/mobile/refresh/route.ts
  apps/web/app/api/auth/mobile/telegram/callback/route.ts
  apps/web/app/api/auth/mobile/telegram/route.ts
  apps/web/app/api/dashboard/stats/route.ts
  apps/web/app/api/preferences/route.ts
  apps/web/app/api/profile/route.ts
  apps/web/app/api/summaries/[id]/route.ts
  apps/web/app/api/summaries/route.ts
Due: type-check, lint, format

style: fix prettier formatting in package.json
  package.json
Due: none

chore: ignore dist and compiled build artifacts
  .gitignore
Due: none

chore: ignore compiled JS artifacts in shared package
  packages/shared/.gitignore
Due: none

feat: add express dependency to API
  apps/api/package.json
  pnpm-lock.yaml
Due: format

fix: set entryFile in nest-cli config
  apps/api/nest-cli.json
Due: format

fix: use --ignore-scripts flag in Dockerfile.dev
  apps/api/Dockerfile.dev
  apps/frontend/Dockerfile.dev
Due: none

feat(api): dashboard stats (topTopics, recentPosts), posts list/detail with channel, summaries topic filter and sources
  apps/api/src/app.module.ts
  apps/api/src/dashboard/dashboard.controller.ts
  apps/api/src/posts/posts.controller.ts
  apps/api/src/posts/posts.service.ts
  apps/api/src/summaries/summaries.controller.ts
  apps/api/src/summaries/summaries.service.ts
  apps/mobile/src/api/endpoints.ts
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/types/index.ts
Due: format

feat(mobile): add Posts tab and post list/detail screens
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/posts/[id].tsx
  apps/mobile/app/(tabs)/posts/_layout.tsx
  apps/mobile/app/(tabs)/posts/index.tsx
Due: format

feat(mobile): dashboard top topics & recent posts, channel detail UI, summary sources & topic filter, settings preferences
  .gitignore
  apps/mobile/app/(tabs)/channels/[id].tsx
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/(tabs)/settings.tsx
  apps/mobile/app/(tabs)/summaries/[id].tsx
  apps/mobile/app/(tabs)/summaries/index.tsx
Due: format

feat(shared): replace email with login in auth schemas and types
  packages/shared/src/schemas/auth.ts
  packages/shared/src/types/auth.ts
Due: format

feat(api): rename email to login, add Topic model and migrations
  apps/api/prisma/migrations/20260221204232_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/auth/dto/register.dto.ts
Due: format

feat(web): replace email with login in auth flow and user queries
  apps/web/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/app/api/cron/daily-summary/route.ts
  apps/web/app/api/cron/weekly-summary/route.ts
  apps/web/app/api/passkey/login/options/route.ts
  apps/web/app/api/passkey/login/verify/route.ts
  apps/web/app/api/passkey/register/options/route.ts
  apps/web/app/api/profile/route.ts
  apps/web/components/auth/login-form.tsx
  apps/web/components/auth/register-form.tsx
  apps/web/components/settings/profile-settings.tsx
  apps/web/components/ui/skeleton.tsx
  apps/web/lib/auth/index.ts
  apps/web/lib/cron/scheduler.ts
  apps/web/package.json
  apps/web/prisma/schema.prisma
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: type-check, lint, format

feat(frontend): replace email with login in auth forms
  apps/frontend/src/api/auth.ts
  apps/frontend/src/components/auth/LoginForm.tsx
  apps/frontend/src/components/auth/RegisterForm.tsx
Due: format

feat(api): implement MTProto Telegram integration with channel sync
  apps/api/package.json
  apps/api/src/cron/cron.module.ts
  apps/api/src/cron/cron.service.ts
  apps/api/src/mtproto/dto/bulk-add-channels.dto.ts
  apps/api/src/mtproto/dto/send-code.dto.ts
  apps/api/src/mtproto/dto/verify-code.dto.ts
  apps/api/src/mtproto/mtproto-crypto.ts
  apps/api/src/mtproto/mtproto.controller.ts
  apps/api/src/mtproto/mtproto.module.ts
  apps/api/src/mtproto/mtproto.service.ts
  apps/api/src/posts/posts.controller.ts
  apps/api/src/posts/posts.module.ts
  apps/api/src/posts/posts.service.ts
Due: format

feat(api): add AI summarizer service and Topics relation
  apps/api/src/profile/profile.controller.ts
  apps/api/src/summaries/summaries.controller.ts
  apps/api/src/summaries/summaries.module.ts
  apps/api/src/summaries/summaries.service.ts
  apps/api/src/summaries/summarizer.service.ts
  packages/shared/src/types/summary.ts
Due: format

feat(frontend): redesign SPA with dark theme, add Telegram connect UI
  apps/frontend/package.json
  apps/frontend/src/api/channels.ts
  apps/frontend/src/api/mtproto.ts
  apps/frontend/src/api/summaries.ts
  apps/frontend/src/components/TelegramChannelBrowser.tsx
  apps/frontend/src/components/TelegramConnect.tsx
  apps/frontend/src/components/layout/ProtectedRoute.tsx
  apps/frontend/src/components/layout/Sidebar.tsx
  apps/frontend/src/components/ui/MarkdownContent.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/ChannelDetailPage.tsx
  apps/frontend/src/pages/ChannelsPage.tsx
  apps/frontend/src/pages/DashboardPage.tsx
  apps/frontend/src/pages/PostDetailPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/pages/SummariesPage.tsx
  apps/frontend/src/pages/SummaryDetailPage.tsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tsconfig.json
Due: format

feat(web): update summaries views, add markdown renderer, mini-app CSS
  apps/web/app/(dashboard)/dashboard/summaries/[id]/page.tsx
  apps/web/app/globals.css
  apps/web/app/mini-app/mini-app.css
  apps/web/app/mini-app/summaries/[id]/page.tsx
  apps/web/components/dashboard/today-summary.tsx
  apps/web/components/summaries/summary-card.tsx
  apps/web/components/ui/markdown-content.tsx
  apps/web/types/next-auth.d.ts
Due: type-check, lint, format

feat(mobile): update channels, summaries, settings; add Telegram components
  apps/mobile/app/(tabs)/channels/index.tsx
  apps/mobile/app/(tabs)/settings.tsx
  apps/mobile/app/(tabs)/summaries/[id].tsx
  apps/mobile/app/(tabs)/summaries/index.tsx
  apps/mobile/components/TelegramChannelBrowser.tsx
  apps/mobile/components/TelegramConnect.tsx
  apps/mobile/src/api/endpoints.ts
  apps/mobile/src/hooks/index.ts
Due: format

chore: update vscode settings and root package.json scripts
  .vscode/settings.json
  package.json
Due: format

feat(preferences): add markTelegramAsRead option
  apps/api/prisma/schema.prisma
  apps/api/src/preferences/dto/update-preferences.dto.ts
  apps/api/src/preferences/preferences.service.ts
  packages/shared/src/schemas/preferences.ts
  packages/shared/src/types/preferences.ts
Due: format

feat(mtproto): mark Telegram as read on sync when preference enabled
  apps/api/src/mtproto/mtproto.service.ts
Due: format

feat(frontend): add light/dark theme with toggle and CSS variables
  apps/frontend/src/App.tsx
  apps/frontend/src/components/layout/ProtectedRoute.tsx
  apps/frontend/src/components/layout/Sidebar.tsx
  apps/frontend/src/components/ui/MarkdownContent.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/ChannelDetailPage.tsx
  apps/frontend/src/pages/ChannelsPage.tsx
  apps/frontend/src/pages/DashboardPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/pages/SummariesPage.tsx
  apps/frontend/src/stores/theme.store.ts
Due: format

feat(passkey): implement WebAuthn passkey authentication
  apps/api/.env.example
  apps/api/src/auth/auth.service.ts
  apps/api/src/passkey/dto/passkey-auth-verify.dto.ts
  apps/api/src/passkey/dto/passkey-register-verify.dto.ts
  apps/api/src/passkey/dto/passkey-signup-options.dto.ts
  apps/api/src/passkey/dto/passkey-signup-verify.dto.ts
  apps/api/src/passkey/passkey.controller.ts
  apps/api/src/passkey/passkey.module.ts
  apps/api/src/passkey/passkey.service.ts
  apps/frontend/package.json
  apps/frontend/src/api/passkey.ts
  apps/frontend/src/components/auth/PasskeyLoginButton.tsx
  apps/frontend/src/components/auth/PasskeyRegisterButton.tsx
  apps/frontend/src/components/auth/PasskeySignupButton.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
Due: format

feat(summaries): topics relation, citation links, force-regenerate, post fallback
  apps/api/src/dashboard/dashboard.controller.ts
  apps/api/src/summaries/summaries.controller.ts
  apps/api/src/summaries/summaries.service.ts
  apps/api/src/summaries/summarizer.service.ts
  apps/frontend/src/api/summaries.ts
  apps/frontend/src/components/ui/MarkdownContent.tsx
  apps/frontend/src/pages/SummariesPage.tsx
Due: format

feat(mtproto): expose codeVia in sendCode response
  apps/api/src/mtproto/mtproto.service.ts
  apps/frontend/src/api/mtproto.ts
  apps/frontend/src/components/TelegramConnect.tsx
Due: format

chore: misc project improvements
  .gitignore
  apps/frontend/src/components/layout/Sidebar.tsx
  package.json
  pnpm-lock.yaml
Due: format

feat(passkey): add key management endpoints and settings UI
  apps/api/src/passkey/passkey.controller.ts
  apps/api/src/passkey/passkey.service.ts
  apps/frontend/src/api/passkey.ts
  apps/frontend/src/pages/SettingsPage.tsx
Due: format

feat(mobile): improve channel filtering and summary generation controls
  apps/mobile/app/(tabs)/channels/index.tsx
  apps/mobile/app/(tabs)/summaries/index.tsx
  apps/mobile/components/TelegramConnect.tsx
  apps/mobile/src/api/endpoints.ts
  apps/mobile/src/hooks/index.ts
Due: format

docs: remove outdated integration planning documents
  docs/MTPROTO_SETUP.md
  docs/plans/N8N_INTEGRATION.md
  docs/plans/PRIVATE_CHANNELS.md
  docs/plans/REACT_NATIVE_MOBILE.md
Due: format

feat: async summary generation with BullMQ + polling
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/summaries/summaries.controller.ts
  apps/api/src/summaries/summaries.module.ts
  apps/api/src/summaries/summaries.processor.ts
  apps/frontend/src/api/summaries.ts
  apps/frontend/src/pages/SummariesPage.tsx
  apps/mobile/src/api/endpoints.ts
  apps/mobile/src/hooks/index.ts
  pnpm-lock.yaml
Due: format

Path conditions:
  type-check: any of: apps/web/**/*.{ts,tsx}
  lint: any of: apps/web/**/*.{js,jsx,ts,tsx}
  format: any of: **/*.{js,jsx,ts,tsx,json,md,mdx,css}
