Repository Kirrrusha/digest_tracker: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format

type-check:
  run: pnpm type-check
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

add ui components
  .npmrc
  app/globals.css
  app/layout.tsx
  app/test-ui/page.tsx
  components.json
  components/empty/empty-state.tsx
  components/layout/theme-toggle.tsx
  components/providers.tsx
  components/skeletons/card-skeleton.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/separator.tsx
  components/ui/skeleton.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: type-check, lint, format

add deps
  .env.example
  .gitignore
  DEVELOPMENT_PLAN.md
  SETUP_GUIDE.md
  TELEGRAM_INTEGRATION.md
  package.json
  pnpm-lock.yaml
Due: format

feat: initialize Prisma with database schema
  .env
  .gitignore
  lib/db/index.ts
  prisma.config.ts
  prisma/schema.prisma
Due: type-check, lint, format

feat: add authentication with NextAuth.js v5
  app/(auth)/layout.tsx
  app/(auth)/login/page.tsx
  app/(auth)/register/page.tsx
  app/actions/auth.ts
  app/api/auth/[...nextauth]/route.ts
  components/auth/login-form.tsx
  components/auth/register-form.tsx
  lib/auth/config.ts
  lib/auth/index.ts
  lib/auth/types.ts
  middleware.ts
Due: type-check, lint, format

feat: add Passkey (WebAuthn) authentication
  app/api/passkey/login/options/route.ts
  app/api/passkey/login/verify/route.ts
  app/api/passkey/register/options/route.ts
  app/api/passkey/register/verify/route.ts
  components/auth/login-form.tsx
  components/auth/passkey-login-button.tsx
  components/auth/passkey-register-button.tsx
  lib/auth/index.ts
  lib/passkey/config.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20260129183626_add_passkey_authenticators/migration.sql
  prisma/schema.prisma
Due: type-check, lint, format

chore: add JSDoc documentation and vitest tests for lib/
  .gitignore
  app/api/passkey/login/options/route.ts
  app/api/passkey/login/verify/route.ts
  app/api/passkey/register/verify/route.ts
  lib/__tests__/passkey-config.test.ts
  lib/__tests__/utils.test.ts
  lib/auth/config.ts
  lib/db/index.ts
  lib/passkey/config.ts
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.setup.ts
Due: type-check, lint, format

feat: add Telegram Bot and Mini App integration
  .env.example
  app/api/telegram/webhook/route.ts
  app/mini-app/channels/page.tsx
  app/mini-app/layout.tsx
  app/mini-app/loading.tsx
  app/mini-app/page.tsx
  app/mini-app/settings/page.tsx
  app/mini-app/summaries/[id]/page.tsx
  app/mini-app/summaries/page.tsx
  lib/telegram/auth.ts
  lib/telegram/bot.ts
  lib/telegram/handlers/callbacks.ts
  lib/telegram/handlers/commands.ts
  lib/telegram/handlers/index.ts
  lib/telegram/index.ts
  lib/telegram/keyboards/index.ts
  lib/telegram/keyboards/inline.ts
  lib/telegram/keyboards/reply.ts
  lib/telegram/types.ts
  lib/telegram/useTelegramWebApp.ts
  prisma/schema.prisma
Due: type-check, lint, format

chore: move documentation to .docs/ and update gitignore
  .gitignore
  DEVELOPMENT_PLAN.md
  Design System Setup.make
  FIGMA_PROMPTS.md
  README.md
  TELEGRAM_INTEGRATION.md
Due: format

feat: add AI summarization with OpenAI integration
  app/actions/summaries.ts
  app/api/summaries/generate/route.ts
  lib/ai/index.ts
  lib/ai/prompts.ts
  lib/ai/summarizer.ts
  lib/ai/topic-extractor.ts
  lib/cache/index.ts
  lib/cache/summary-cache.ts
Due: type-check, lint, format

feat: add RSS and Telegram parsers with channel management API
  app/actions/channels.ts
  app/api/channels/[id]/posts/route.ts
  app/api/channels/[id]/refresh/route.ts
  app/api/channels/[id]/route.ts
  app/api/channels/refresh/route.ts
  app/api/channels/route.ts
  app/api/channels/validate/route.ts
  lib/parsers/index.ts
  lib/parsers/rss-parser.ts
  lib/parsers/telegram-parser.ts
  lib/parsers/types.ts
Due: type-check, lint, format

feat: add Dashboard UI with channels, summaries, and settings pages
  app/(dashboard)/dashboard/channels/[id]/page.tsx
  app/(dashboard)/dashboard/channels/page.tsx
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/dashboard/settings/page.tsx
  app/(dashboard)/dashboard/summaries/[id]/page.tsx
  app/(dashboard)/dashboard/summaries/page.tsx
  app/(dashboard)/layout.tsx
  app/actions/preferences.ts
  app/actions/summaries.ts
  components/channels/add-channel-dialog.tsx
  components/channels/channel-card.tsx
  components/dashboard/header.tsx
  components/dashboard/recent-posts.tsx
  components/dashboard/sidebar.tsx
  components/dashboard/stats-card.tsx
  components/dashboard/today-summary.tsx
  components/settings/settings-form.tsx
  components/summaries/summary-card.tsx
Due: type-check, lint, format

feat: add Vercel cron jobs for automated post fetching and summary generation
  app/api/cron/daily-summary/route.ts
  app/api/cron/fetch-posts/route.ts
  app/api/cron/weekly-summary/route.ts
  vercel.json
Due: type-check, lint, format

feat: add Docker deployment with node-cron scheduler
  .dockerignore
  .env.example
  Dockerfile
  app/api/health/route.ts
  docker-compose.yml
  instrumentation.ts
  lib/cron/scheduler.ts
  next.config.ts
  vercel.json
Due: type-check, lint, format

test: add unit tests for parsers, AI prompts, topic extractor, and cron scheduler
  lib/__tests__/ai/prompts.test.ts
  lib/__tests__/ai/topic-extractor.test.ts
  lib/__tests__/cron/scheduler.test.ts
  lib/__tests__/parsers/index.test.ts
  lib/__tests__/parsers/rss-parser.test.ts
  lib/__tests__/parsers/telegram-parser.test.ts
  lib/__tests__/parsers/types.test.ts
Due: type-check, lint, format

feat: add Redis caching layer with cache invalidation
  app/(dashboard)/dashboard/channels/page.tsx
  app/(dashboard)/dashboard/page.tsx
  app/actions/channels.ts
  app/actions/summaries.ts
  lib/cache/cached-data.ts
  lib/cache/index.ts
  lib/cache/redis.ts
  prisma/schema.prisma
Due: type-check, lint, format

feat: add monitoring, logging, and error handling
  app/(dashboard)/error.tsx
  app/api/health/route.ts
  app/api/metrics/route.ts
  app/error.tsx
  app/global-error.tsx
  app/not-found.tsx
  lib/cache/redis.ts
  lib/logger.ts
  lib/metrics.ts
  middleware.ts
Due: type-check, lint, format

feat: add personalized topic filtering for summaries
  app/(dashboard)/dashboard/summaries/page.tsx
  app/actions/summaries.ts
Due: type-check, lint, format

feat: add TopicsManagement, NotificationSettings, and channel tags
  app/(dashboard)/dashboard/settings/page.tsx
  app/actions/channels.ts
  components/channels/channel-card.tsx
  components/channels/channel-tags.tsx
  components/settings/notification-settings.tsx
  components/settings/settings-form.tsx
  components/settings/topics-management.tsx
  lib/cache/cached-data.ts
  lib/cache/index.ts
Due: type-check, lint, format

test: add unit, integration, and E2E tests with Playwright
  .gitignore
  e2e/auth.spec.ts
  e2e/channels.spec.ts
  e2e/dashboard.spec.ts
  e2e/fixtures/auth.fixture.ts
  e2e/landing.spec.ts
  lib/__tests__/ai/summarizer.test.ts
  lib/__tests__/api/channels-validate.test.ts
  lib/__tests__/api/health.test.ts
  package.json
  playwright.config.ts
Due: type-check, lint, format

feat: add Docker deployment for VM with Nginx, SSL, and backup scripts
  .env.production.example
  .gitignore
  DEPLOYMENT.md
  docker-compose.prod.yml
  nginx/conf.d/default.conf
  nginx/nginx.conf
  scripts/backup.sh
  scripts/deploy.sh
  scripts/logs.sh
  scripts/setup-ssl.sh
Due: format

refactor: start app
  .env
  Dockerfile
  app/mini-app/channels/page.tsx
  app/mini-app/layout.tsx
  app/mini-app/loading.tsx
  app/mini-app/mini-app.css
  app/mini-app/page.tsx
  app/mini-app/settings/page.tsx
  app/mini-app/summaries/[id]/page.tsx
  app/mini-app/summaries/page.tsx
  docker-compose.yml
  e2e/fixtures/auth.fixture.ts
  lib/ai/summarizer.ts
Due: type-check, lint, format

feat: redesign dashboard UI with dark sidebar, filters, and tabbed settings
  Dockerfile.dev
  app/(dashboard)/dashboard/channels/page.tsx
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/dashboard/settings/page.tsx
  app/(dashboard)/dashboard/summaries/page.tsx
  app/globals.css
  app/page.tsx
  components/channels/channel-filters.tsx
  components/dashboard/sidebar.tsx
  components/dashboard/topic-stats-card.tsx
  components/settings/api-settings.tsx
  components/settings/preferences-settings.tsx
  components/settings/profile-settings.tsx
  components/summaries/summary-card.tsx
  components/ui/tabs.tsx
  docker-compose.dev.yml
Due: type-check, lint, format

feat: improve dashboard UI and channel management
  app/(dashboard)/dashboard/channels/page.tsx
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/dashboard/summaries/page.tsx
  app/(dashboard)/layout.tsx
  app/actions/channels.ts
  app/globals.css
  components/channels/add-channel-dialog.tsx
  components/empty/empty-state.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
Due: type-check, lint, format

feat: add DB schema for private channels (MTProtoSession, bot access)
  lib/parsers/types.ts
  prisma/schema.prisma
Due: type-check, lint, format

feat: add bot handlers for private channel subscriptions via forwarded messages
  lib/parsers/index.ts
  lib/parsers/telegram-bot-parser.ts
  lib/telegram/bot.ts
  lib/telegram/handlers/callbacks.ts
  lib/telegram/handlers/channel-posts.ts
  lib/telegram/handlers/forwards.ts
  lib/telegram/handlers/index.ts
Due: type-check, lint, format

docs: add implementation plans for private channels, n8n, and mobile app
  docs/plans/N8N_INTEGRATION.md
  docs/plans/PRIVATE_CHANNELS.md
  docs/plans/REACT_NATIVE_MOBILE.md
Due: format

feat: add MTProto (GramJS) support for private Telegram channels
  .env.example
  app/actions/mtproto.ts
  app/api/mtproto/auth/disconnect/route.ts
  app/api/mtproto/auth/send-code/route.ts
  app/api/mtproto/auth/verify/route.ts
  app/api/mtproto/channels/route.ts
  docs/MTPROTO_SETUP.md
  lib/mtproto/client.ts
  lib/mtproto/index.ts
  lib/mtproto/service.ts
  lib/parsers/index.ts
  lib/parsers/telegram-mtproto-parser.ts
  package.json
  pnpm-lock.yaml
Due: type-check, lint, format

feat: add Phase 4 UI for MTProto private channels
  app/(dashboard)/dashboard/channels/page.tsx
  app/(dashboard)/dashboard/settings/page.tsx
  components/channels/add-channel-dialog.tsx
  components/channels/telegram-channel-browser.tsx
  components/settings/telegram-connect.tsx
  lib/parsers/telegram-mtproto-parser.ts
Due: type-check, lint, format

security: add rate limiting and session expiry for MTProto auth
  app/api/cron/fetch-posts/route.ts
  app/api/mtproto/auth/send-code/route.ts
Due: type-check, lint, format

chore: upgrade pnpm to 10.29.3 and fix Dockerfile.dev
  Dockerfile.dev
  package.json
  pnpm-lock.yaml
Due: format

refactor: rename middleware.ts to proxy.ts
  proxy.ts
Due: type-check, lint, format

chore: update .gitignore for monorepo structure
  .gitignore
Due: none

refactor: rename Post.content to contentPreview in schema
  apps/web/prisma/migrations/20260217120000_move_content_to_redis/migration.sql
  apps/web/prisma/schema.prisma
Due: none

feat: store full post content in Redis
  apps/web/lib/cache/cached-data.ts
  apps/web/lib/cache/post-content.ts
  apps/web/lib/cache/redis.ts
  apps/web/lib/cache/summary-cache.ts
  apps/web/lib/parsers/index.ts
Due: type-check, lint, format

feat: improve Telegram MTProto integration
  apps/web/app/api/mtproto/auth/send-code/route.ts
  apps/web/lib/mtproto/service.ts
  apps/web/lib/parsers/rss-parser.ts
  apps/web/lib/parsers/telegram-mtproto-parser.ts
  apps/web/lib/parsers/types.ts
  apps/web/lib/telegram/handlers/channel-posts.ts
Due: type-check, lint, format

feat: load full post content from Redis for summarization
  apps/web/app/actions/summaries.ts
  apps/web/lib/ai/summarizer.ts
Due: type-check, lint, format

feat: update dashboard UI for content preview and post pages
  apps/web/app/(dashboard)/dashboard/channels/[id]/page.tsx
  apps/web/app/(dashboard)/dashboard/channels/page.tsx
  apps/web/app/(dashboard)/dashboard/page.tsx
  apps/web/app/(dashboard)/dashboard/posts/[id]/page.tsx
  apps/web/app/(dashboard)/dashboard/posts/page.tsx
  apps/web/app/(dashboard)/dashboard/summaries/[id]/page.tsx
  apps/web/app/actions/channels.ts
  apps/web/app/api/channels/[id]/posts/route.ts
  apps/web/components/channels/add-channel-dialog.tsx
  apps/web/components/channels/channel-card.tsx
  apps/web/components/channels/telegram-channel-browser.tsx
  apps/web/components/dashboard/recent-posts.tsx
  apps/web/components/dashboard/sidebar.tsx
  apps/web/components/dashboard/today-summary.tsx
  apps/web/components/settings/telegram-connect.tsx
Due: type-check, lint, format

chore: update docker-compose.dev.yml configuration
  docker-compose.dev.yml
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,mdx,css}
